body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.calc {
    max-width: 350px;
    margin: auto;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
}

.display {
    flex: 1 0 0%;
    background-color: #868686;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: right;
    border-radius: 10px;
}

button {
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid #f8e6e6;
    color: rgb(255, 255, 255);
    background-color: #777777;
    padding: 2%;
    font-size: 25px;
    margin: 2px;
    transition: all 0.1s;
    width: 60px;
    height: 60px;
    margin: 5px;
    flex: none;
    box-shadow: 3px 3px 3px #000000;
}

.buttons {
    flex: 1 0 80%;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(83, 83, 83);
    padding: 30px;
}

.row{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.row button.bDouble{
    width: calc(2 * 60px + 10px);
}

.bOperator {
    background-color: #ff9900;
    color: black;
}

.bFunctional {
    background-color: #82cdff;
}

.clicked {
    transform: scale(0.9);
    background-color: #202020;
    border-color: #6b6b6b;
    box-shadow: 3px 3px 10px #rgba(0, 0, 0, 0.5) inset;
}

